<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @jungle_book_wolf.description %>
</p>

<%= link_to 'Edit', edit_jungle_book_wolf_path(@jungle_book_wolf) %> |
<%= link_to 'Back', jungle_book_wolves_path %>
